<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="container">
  <h3>Salary Details</h3>
<!--table>
  <tr>
    <th>Month</th>
    <th>Salary Credited</th>
    <th>Tax Percent</th>
  </tr>
  <tr>
    <td>January</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Feburary</td>
    <td></td>
    <td></td>
  </tr>
</table>
-->
<table class="table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Salary Credited</th>
      <th>Tax Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Month1</td>
      <td></td>
      <td></td>
    </tr>      
    <tr >
      <td>Month2</td>
      <td></td>
      <td></td>
    </tr>
    <tr >
      <td>Month3</td>
      <td></td>
      <td></td>
    </tr>
    <tr >
      <td>Month4</td>
      <td></td>
      <td></td>
    </tr>
    <tr >
      <td>Month5</td>
      <td></td>
      <td></td>
    </tr>
    <tr >
      <td>Month6</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>