<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="form">
<h5>From</h5>
<input type="date"><br><br>
<h5>To</h5>
<input type="date"><br><br>
<h5>No.of days:</h5>
<input type="number"><br><br>
<h5>Reason</h5>
<input type="text" class="reason"><br>
<button class="apply">Apply</button>
</div>
