.form{
    margin-left:500px;
    width:30%;
    margin-top:50px;
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0,0, 0, 0.19);
    padding: 40px;
    .apply{
        margin-top:20px;
        margin-left:45px;
    }
    .reason{
        width:80%;
       
    }
}