
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
 <div class="container">
   <h3 class="text-center">Attendance Details</h3>
    <label for="sel1">Month:</label>
    <select class="" id="sel1">
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
<button type="button" class="btn btn-primary float-right" routerLink="/leave">Apply For Leave</button>
<h3 class="text-center">Overall</h3>
<table class="table">
    <thead>
      <tr>
          <th>Name</th>
          <th>No.of days appeared</th>
          <th>Total no.of leave taken</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Month1</td>
        <td></td>
        <td></td>
      </tr>      
    </tbody>
</table>
<h3 class="text-center">Daily Status</h3>
<table class="table">
    <thead>
      <tr>
          <th>Date</th>
          <th>Shift</th>
          <th>Present/Absent</th>
          <th>Leave Category</th>
          <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Month1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>      
    </tbody>
</table>

