<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">





<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Profile</h2>
      <img src="assets/img/profile.png" alt="image" class="image">
      <ul class="nav nav-pills nav-stacked">
      </ul><br>
    </div>
    <br>
    <br>
    <div class="col-sm-9">
      <div class="well">
        <h4>Jayendar</h4>
        <p>Anbazhagan</p>
        <p><strong>E-Mail:</strong> jayendar.a@gmail.com</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Department</h4>
            <p>CSE</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Joined Year</h4>
            <p>2000</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Contact</h4>
            <p>97911 78369</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>ID</h4>
            <p>123423412312</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h4>Address</h4>
            <p>Text</p>
            <p>Text</p>
            <p>Text</p>
          </div>
        </div>
        <!--<div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>-->
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>