<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
<!--<div class="tabs">
<div class="circulars">
<h2>Circulars</h2>
</div>
<div class="pendingworks">
<h2>Pending Works</h2>
</div>
<div class="messages">
<h2>Messages</h2>
</div>
</div>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div class="container">
    <div>
        <h1>Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Circulars</div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Pending Works</div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Messages</div>
                <div class="panel-body">Panel Contet</div>
            </div>
        </div>
    </div>
</div>